body {

    background: #081c34;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;

}

h1 {

    text-align: center;
    margin: 20px;

}

.container {

    display: flex;
    height: 90vh;

}

/* LEFT PANEL- */

.left {

    width: 300px;
    padding: 20px;
    background: #0c2345;

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.left input {

    padding: 6px;
    font-size: 14px;

}

.left button {

    margin-top: 10px;
    padding: 10px;
    background: #3db7ff;
    border: none;
    cursor: pointer;

}

/* RIGHT PANEL- */

.right {

    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;

}

canvas {

    width: 100% !important;
    height: 400px !important;

}